@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.card {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 380px;
  justify-content: space-around;
  background-color: rgba(208, 210, 211, 0.041);
  transition: transform 0.09s;
  border-radius: 2%;

  filter: grayscale(1);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);

  // box-shadow: 1px 1px 0px 0px #cecbcb;
}

.card:hover {
  transform: scale(
    1.01
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.serial {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 18pt;
  max-width: 280px;
  grid-template-columns: repeat(auto-fill, minmax(425px, 1fr));
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  display: flex;
}

.date {
  color: #020202;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1.5rem;
  max-width: 280px;
  grid-template-columns: repeat(auto-fill, minmax(425px, 1fr));
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.address {
  color: #020202;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1.2rem;
  max-width: 280px;
  grid-template-columns: repeat(auto-fill, minmax(425px, 1fr));
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.status {
  color: #222121;

  margin-bottom: 4pt;
  // text-shadow: 0px 0px 0px #ccc8c7;
  font-family: "Roboto Slab", Times, serif;
  font-weight: bolder;
  font-size: 1.8rem;
  max-width: 280px;
  grid-template-columns: repeat(auto-fill, minmax(425px, 1fr));
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.deposit {
  color: #020202;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1.2rem;
  max-width: 280px;
  grid-template-columns: repeat(auto-fill, minmax(425px, 1fr));
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.style {
  color: #020202;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1.2rem;
  max-width: 280px;
  grid-template-columns: repeat(auto-fill, minmax(425px, 1fr));
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  display: flex;
}

.list-item {
  // margin-left: auto;
  background: #fcf8f8d7;
  // margin-right: auto;
  justify-content: center;

  display: grid;
  padding: 0 10vw;
  // grid-auto-rows: 425px;
  grid-template-columns: repeat(auto-fill, minmax(425px, 1fr));

  gap: 1px;
}

// .icon-image {
//   float: left;
// }

.icon-image img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 1.5rem;
  height: 6vh;
}

.main-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  width: 100vw;
  padding: 0 10vw;
  color: #000;
  box-shadow: 1.8px 1.8px 1.8px 1.8px rgba(212, 214, 212, 0.5);
  z-index: 1;
}

// .navbar {
//   height: var(--nav--size);
//   background-color: var(--bg);
//   padding: 0 1rem;
//   border-bottom: var(--border);
// }

// .navbar-nav {
//   max-width: 100%;
//   height: 100%;
//   display: flex;
//   justify-content: flex-end;
// }
// $poppins: "Poppins", sans-serif;
// $background: #fafafc;
// $shadow: 0 4px 12px -2px rgba(#6b75a1, 0.16);
// $c-darkGray: #4a4a4e;
// $ease: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

// body {
//   font-family: $poppins;
//   color: $c-darkGray;
// }

// .card {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.thumb {
  border-radius: 3px;

  // width: 40%;
  height: 10vh;
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // background-image: url("https://photos.skyline.com/uploads/block/floated_image_block_data/image/1728/floated_shutterstock_145605907.gif");
}

.not-container {
  text-align: center;
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 4rem;
  background: #f4f7f673;
}

// * {
//   box-sizing: border-box;
// }
// .video-background {
//   background: #000;
//   // position: fixed;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   z-index: -99;
// }
// .video-foreground,
// .video-background iframe {
//   // position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   pointer-events: none;
// }
// #vidtop-content {
//   top: 0;
//   color: #fff;
// }
// .vid-info {
//   // position: absolute;
//   top: 0;
//   right: 0;
//   width: 33%;
//   background: rgba(0, 0, 0, 0.3);
//   color: #fff;
//   padding: 1rem;
//   font-family: Avenir, Helvetica, sans-serif;
// }
// .vid-info h1 {
//   font-size: 2rem;
//   font-weight: 700;
//   margin-top: 0;
//   line-height: 1.2;
// }
// .vid-info a {
//   display: block;
//   color: #fff;
//   text-decoration: none;
//   background: rgba(0, 0, 0, 0.5);
//   transition: 0.6s background;
//   border-bottom: none;
//   margin: 1rem auto;
//   text-align: center;
// }
// @media (min-aspect-ratio: 16/9) {
//   .video-foreground {
//     height: 300%;
//     top: -100%;
//   }
// }
// @media (max-aspect-ratio: 16/9) {
//   .video-foreground {
//     width: 300%;
//     left: -100%;
//   }
// }
// @media all and (max-width: 600px) {
//   .vid-info {
//     width: 50%;
//     padding: 0.5rem;
//   }
//   .vid-info h1 {
//     margin-bottom: 0.2rem;
//   }
// }
// @media all and (max-width: 500px) {
//   .vid-info .acronym {
//     display: none;
//   }
// }

// #background-video {
//   height: 100%;
//   width: 100%;
//   float: left;
//   top: 0;
//   padding: none;
//   position: fixed; /* optional depending on what you want to do in your app */
//   background-image: url("https://www.youtube.com/watch?v=hMmzmTpOTvA");
// }

h1 {
  font-family: "Roboto Slab", Times, serif;
  max-width: 900px;
  padding-bottom: 2rem;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  color: #063249;
  align-content: center;
  font-weight: 100;
}

h2 {
  color: rgba(17, 14, 14, 0.7);
  display: block;
  max-width: 900px;
  font-size: 1.3rem;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
}
